{% load static %}
<!doctype html>
<html>
    <head>
        <title>JK Tasks app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">      
        <link rel="shortcut icon" type="image/png" href="{% static '/favicon.ico'%}"/>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->     
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/ad4f6e3394.js"></script>
        <!-- Fonts -->
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Merriweather&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <!-- Local scripts-->
        <script src="{% static 'Tasks/scripts/scripts.js' %}"></script>
        <!-- Losal stylesheets -->
        <link rel="stylesheet" type="text/css" href="{% static 'Tasks/css/base.css' %}">
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'home' %} active {% endif %}" href="{% url 'Tasks:home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'Tasks:tasks' %}">Tasks</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'Tasks:new_task' %}">New Task</a>
                <a class="dropdown-item" href="{% url 'Tasks:tasks' task_type='active' %}">Active</a>
                <a class="dropdown-item" href="{% url 'Tasks:tasks' task_type='future' %}">Future</a>
                <a class="dropdown-item" href="{% url 'Tasks:tasks' task_type='past' %}">Past</a>
                <a class="dropdown-item" href="{% url 'Tasks:tasks' task_type='missed' %}">Missed</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{% url 'Tasks:notes' %}">Notes</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'Tasks:new_note' %}">New Note</a>
                <a class="dropdown-item" href="{% url 'Tasks:notes' %}">List all notes</a>
                </div>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'Tasks:task_management' %}">Task Management</a>
                </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Countdowns</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>

          </ul>
          <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <p class="navbar-text">Hello, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            <button class="nav-item btn"><a href="{% url 'admin:index' %}"><span class="glyphicon glyphicon-edit"></span>Control panel</a></button> 
            {% else %}
            <button class="btn"><a class="nav-link" href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"></span>Login</a></button>
            {% endif %}
            </form>
        </div>
      </nav>
<div>
        <form id="Login" class="form-horizontal" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                <tr>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password }}</td>
                </tr>
                </table>
                
                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">
                </form>
</div>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ message }}
                </div>
        {% endfor %}
        </ul>
    {% endif %}
 
    <div class="content container">
            {% block content %}
            {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>


