{% extends 'Tasks/base.html' %}

{% block content %}
    <h2>Your task to complete:</h2>
    <div>
        {% for task in tasks %}
        <p class="task">
            <a href="{% url 'Tasks:task' task_id=task.task_id %}">{{ task }}</a>
        </p>
        {% endfor %}
    </div>
    <h3>Past tasks:</h3>
    <div>
        {% for task in past_tasks %}
        <p class="task" style="{% if task.completed == True %} background-color:#45f442 {% endif %};">
            <a href="{% url 'Tasks:task' task_id=task.task_id %}">{{ task }}</a>
        <span id="colorbox"></span>
        </p>
        {% endfor %}
    </div>
    <hr>
    <a href='{% url "Tasks:new_task" %}'><button type="button" class="btn btn-light">Create new task</button></a>
    
    
{% endblock %}
