{% extends 'Tasks/base.html' %}

{% block content %}
<div class="form manage">
        <h2>Complete your tasks:</h2>
        
        <p>
        <form  method="POST"> {% csrf_token %}
            {% for task in tasks%}
            <label name ="task" value="{{ task.task_id }}" >{{ task.title }}: {{ task.description }}</label>            
            <label class="checkbox-container">Completed: <input type="checkbox" name="complete" value="{{ task.task_id }}">
            <span class="checkmark"></span>
            </label>
            <hr>
            {% endfor %}  
            <input type="submit" class="btn btn-light" value="Confirm">         
        </form>
        </p>

</div>
<hr>

{% endblock %}
