body {
    background-color: #D5D5D5;
    font-family: "Courier New", Courier, monospace;
   }
.nav a{
    color: black;
}
.container{
    margin-top: 30px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 2px;
    background-color: #6D7993;
    color: white;

}
.container a{
    color: black;
    padding: 5px;
}
.container div{

}
.container p{
    background-color: #9099A2;
}
.task{
    display: block;
    border-radius:3px; 
    padding:3px
}
#colorbox { 
    width: 15px;
    height: 15px;
    margin:auto;
    display: inline-block;
    border: 1px solid #96858f;
    vertical-align: middle;
    border-radius: 2px;
    background: #FF0000
}

/*
#96858F; DUSTY
#6D7993; LAVENDAR
#9099A2; OVERCAST
#D5D5D5; PAPER
*/